# Automated Test Script

#### Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import sys, os

import warnings
warnings.filterwarnings('ignore',category=pd.io.pytables.PerformanceWarning)

#### Locating our logs files in our working directory

In [2]:
LOGS_PATH = os.path.join(os.getcwd(), 'logs')

#### Replace this with the log file name that your looking to test

In [3]:
LOG_BARCODE = '2018-04-07_19-36'

#### Loading DeepEye & Tester log files into Pandas DataFrames

In [4]:
tester_log = pd.read_csv(os.path.join(LOGS_PATH, "[" + LOG_BARCODE + "]--DeepEye.csv"), index_col=0)
deepeye_log = pd.read_csv(os.path.join(LOGS_PATH, "[" + LOG_BARCODE + "]--Tester.csv"), index_col=0)

## Compare the two dataframes and identify each feature where the `GROUND TRUTH` and the `PREDICTION` by DeepEye were different

In [5]:
results = pd.concat([tester_log.set_index('FRAME_ID'), deepeye_log.set_index('FRAME_ID')], 
                   axis='columns', keys=['GROUND TRUTH', 'PREDICTION'])

results = results.swaplevel(axis='columns')[tester_log.columns[1:]]
results.head()

           PEDESTRIAN                VEHICLES                   BIKES  \
         GROUND TRUTH PREDICTION GROUND TRUTH PREDICTION GROUND TRUTH
FRAME_ID
0                   1          1            1          1            0
1                   0          1            1          1            0
2                   0          1            1          1            0
3                   1          1            1          1            0
4                   0          1            1          1            0

                       STOP_SIGN            TRAFFIC_LIGHT             \
         PREDICTION GROUND TRUTH PREDICTION  GROUND TRUTH PREDICTION
FRAME_ID
0                 0            0          0             0          1
1                 0            0          0             0          1
2                 0            0          0             0          1
3                 0            0          0             0          1
4                 0            0          0             0          1

             OFF_LANE               COLLISION
         GROUND TRUTH PREDICTION GROUND TRUTH PREDICTION
FRAME_ID
0                   0          0            0          0
1                   0          0            0          0
2                   1          0            0          0
3                   1          1            0          0
4                   0          0            0          0

#### Look at False Positive/Negative Predictions

In [6]:
log = (tester_log != deepeye_log).stack()
errors = log[log]
errors.index.names = ['FRAME_ID', 'FEATURE']
difference_loc = np.where(tester_log != deepeye_log)
ground_truth = tester_log.values[difference_loc]
prediction = deepeye_log.values[difference_loc]
comparison_table = pd.DataFrame({'GROUND TRUTH': ground_truth, 'PREDICTION': prediction}, index=errors.index)

In [7]:
comparison_table.head()

                        GROUND TRUTH  PREDICTION
FRAME_ID FEATURE
0        TRAFFIC_LIGHT             0           1
1        PEDESTRIAN                0           1
         TRAFFIC_LIGHT             0           1
2        PEDESTRIAN                0           1
         TRAFFIC_LIGHT             0           1

### Calculate a score for each frame based on the number of false predictions

In [8]:
scores = comparison_table.groupby(['FRAME_ID']).size().reset_index(name='SCORE')
scores =  len(tester_log.columns) - scores['SCORE'] - 1

results['ACCURACY', 'SCORE'] = scores
results['ACCURACY', 'SCORE'].fillna(len(tester_log.columns) - 1, inplace=True) 
results['ACCURACY', 'SCORE'] = results['ACCURACY', 'SCORE'] / 7
results.style.format("{:.2%}", subset=pd.IndexSlice[:, pd.IndexSlice[:, 'SCORE']])

results.head()

           PEDESTRIAN                VEHICLES                   BIKES  \
         GROUND TRUTH PREDICTION GROUND TRUTH PREDICTION GROUND TRUTH
FRAME_ID
0                   1          1            1          1            0
1                   0          1            1          1            0
2                   0          1            1          1            0
3                   1          1            1          1            0
4                   0          1            1          1            0

                       STOP_SIGN            TRAFFIC_LIGHT             \
         PREDICTION GROUND TRUTH PREDICTION  GROUND TRUTH PREDICTION
FRAME_ID
0                 0            0          0             0          1
1                 0            0          0             0          1
2                 0            0          0             0          1
3                 0            0          0             0          1
4                 0            0          0             0          1

             OFF_LANE               COLLISION             ACCURACY
         GROUND TRUTH PREDICTION GROUND TRUTH PREDICTION     SCORE
FRAME_ID
0                   0          0            0          0  0.857143
1                   0          0            0          0  0.714286
2                   1          0            0          0  0.571429
3                   1          1            0          0  0.857143
4                   0          0            0          0  0.714286

## Display some basic statistical analytics

### Overall Performance

In [9]:
pd.DataFrame(results['ACCURACY', 'SCORE'].describe())

         ACCURACY
            SCORE
count  274.000000
mean     0.915537
std      0.114775
min      0.428571
25%      0.857143
50%      1.000000
75%      1.000000
max      1.000000

### Predictions results for Pedstrians

In [10]:
target = results.groupby(results['PEDESTRIAN', 'PREDICTION'], axis=0).describe()
target['ACCURACY', 'SCORE']

,count,mean,std,min,25%,50%,75%,max
"(PEDESTRIAN, PREDICTION)",,,,,,,,
0,230.0,0.937267,0.097490,0.428571,0.857143,1.000000,1.000000,1.0
1,44.0,0.801948,0.131495,0.428571,0.714286,0.857143,0.857143,1.0

### Predictions results for Vehicles

In [11]:
target = results.groupby(results['VEHICLES', 'PREDICTION'], axis=0).describe()
target['ACCURACY', 'SCORE']

,count,mean,std,min,25%,50%,75%,max
"(VEHICLES, PREDICTION)",,,,,,,,
0,4.0,0.821429,0.214286,0.571429,0.678571,0.857143,1.0,1.0
1,270.0,0.916931,0.112798,0.428571,0.857143,1.000000,1.0,1.0

### Predictions results for Bikes

In [12]:
target = results.groupby(results['BIKES', 'PREDICTION'], axis=0).describe()
target['ACCURACY', 'SCORE']

,count,mean,std,min,25%,50%,75%,max
"(BIKES, PREDICTION)",,,,,,,,
0,258.0,0.923034,0.110625,0.428571,0.857143,1.000000,1.000000,1.0
1,16.0,0.794643,0.116277,0.571429,0.714286,0.857143,0.857143,1.0

### Predictions results for Stop Signs

In [13]:
target = results.groupby(results['STOP_SIGN', 'PREDICTION'], axis=0).describe()
target['ACCURACY', 'SCORE']

,count,mean,std,min,25%,50%,75%,max
"(STOP_SIGN, PREDICTION)",,,,,,,,
0,274.0,0.915537,0.114775,0.428571,0.857143,1.0,1.0,1.0

### Predictions results for Traffic Lights

In [14]:
target = results.groupby(results['TRAFFIC_LIGHT', 'PREDICTION'], axis=0).describe()
target['ACCURACY', 'SCORE']

,count,mean,std,min,25%,50%,75%,max
"(TRAFFIC_LIGHT, PREDICTION)",,,,,,,,
0,225.0,0.935238,0.093405,0.571429,0.857143,1.000000,1.0,1.0
1,49.0,0.825073,0.155033,0.428571,0.714286,0.857143,1.0,1.0

### Predictions results for Off-Lane Warnings

In [15]:
target = results.groupby(results['OFF_LANE', 'PREDICTION'], axis=0).describe()
target['ACCURACY', 'SCORE']

,count,mean,std,min,25%,50%,75%,max
"(OFF_LANE, PREDICTION)",,,,,,,,
0,262.0,0.918212,0.113283,0.428571,0.857143,1.000000,1.0,1.0
1,12.0,0.857143,0.136209,0.571429,0.821429,0.857143,1.0,1.0

### Predictions results for Collision Warnings

In [16]:
target = results.groupby(results['COLLISION', 'PREDICTION'], axis=0).describe()
target['ACCURACY', 'SCORE']

,count,mean,std,min,25%,50%,75%,max
"(COLLISION, PREDICTION)",,,,,,,,
0,266.0,0.920516,0.109486,0.428571,0.857143,1.000000,1.000000,1.000000
1,8.0,0.750000,0.166424,0.428571,0.678571,0.857143,0.857143,0.857143